@charset "UTF-8";

header{
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#E36D5B;
    padding: 30px;
    
}
body{
    background-image: linear-gradient(to right, #E36D5B, #F054A8);
   margin: auto;
    
    
}
button{
    margin-right: 5px;
    display: inline-block;   
    
}
div{
    margin: auto;
    width: 10em;
}

